<%- include ("partials/header.ejs") -%>

<div class="about">
  <h3>
    Go to /user/username (ex./user/Jacob) to go into there respective blog
    posts.
  </h3>
  <p>Thank you</p>
  <button><a href="/main"> Home </a></button>
</div>
