<%- include ("partials/header.ejs") %>

<div class="read-items">
  <div class="read">
    <h3>Name: <%= title %></h3>

    <p>
      Story : <br />

      <%= content %>
    </p>
  </div>
  <div class="read-btn">
    <button>
      <a href="/main"><i class="fas fa-arrow-circle-left fa-2x"></i></a>
    </button>
  </div>
</div>
