<%- include ("partials/header.ejs") %>

<div class="search-form">
  <form action="/search" method="post">
    <input type="text" name="search" placeholder="Enter the Name of the User" />
    <button type="submit">
      <i class="fas fa-search fa-1x"></i>
    </button>
  </form>
</div>
